export GOVC_URL='{{ vcenter_url }}'
export GOVC_USERNAME='{{ vcenter_user }}'
export GOVC_PASSWORD='{{vcenter_pass }}'
export GOVC_INSECURE=1
export GOVC_DATASTORE='{{ vcenter_datastore }}'
export GOVC_DATACENTER='{{ vcenter_datacenter }}'
export GOVC_NETWORK='{{ vcenter_network }}'
